
p, h1{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 2vw;
    color: white;
}

body{
    height: 80vh;
    margin: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;

    background-color: #313131;
}

html{
    background-color: #464646;
}

div{
    margin-left: 5vw;
    margin-top: 5vw;
}