
p, h1{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 2vw;
    color: white;
}

h1{
    margin-bottom: .5em;
    margin-top: .5em;
    padding-top: .5em;
    margin-left: 5vh;
}

body{
    height: 90vh;
    margin: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;

    background-color: #313131;
}

html{
    background-color: #464646;
}

p{
    margin: 5vh;
    margin-top: .01em;
    margin-bottom: .01em;
}

input{
    margin: 5vh;
}

div{
    margin-left: 5vh;
    margin-top: .1vh;
}

.big-div{
    margin: 0px;
}

.names{
    padding: .5em;
    background-color: #585858;
}

.names:hover{
    background-color: #777777;
}


a:link{
    color: yellowgreen;
}

a:visited{
    color: rgb(252, 255, 56);
}

